@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border:0px;
}
p, h1, button, a{font-family: 'Droid Sans', sans-serif; color:#333;}
p{text-align:justify;}
button{text-decoration:none; border:0px;}
html { width:100%; height:100%; }

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* MENU */
	/*
	.navbar-default{
		box-shadow:none;
		background-color:transparent;
		border:none;
		background-image:none;
		min-height:90px;
		padding-top:10px;
		}
	*/
	.nav>li>a {
		text-transform:uppercase;
		font-family:'Roboto Condensed', sans-serif;
		color:#ffffff;
		font-size:1.5em;
		text-shadow:1px 1px 1px black;
		-webkit-text-shadow:1px 1px 1px black;
		-moz-text-shadow:1px 1px 1px black;
		}
	.nav>li>a:hover,
	.nav>li>a:focus{
		background-color:transparent;
		}


div#imgLogo{
	position: absolute;
	top:70px;
	left:50%;
	margin-left:-100px;
	z-index:100;
	margin-top:30px;
	}

section#bannerTop{
	background:#FFF;
	height:550px;

	}

section#topConst{
	height:500px;
	background-image:url(../images/img_construccion/imgTopConst.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}

section.bottomSection div.contenidoBottomSection{
		height:auto;
		}

	/*section#bottomConst div.imgBottomConst{
		width:70%;
		float:left;
		height:100%;
		box-shadow:inset -7px 12px -2px rgba(0,0,0,0.15);
		-webkit-box-shadow:inset -7px 12px -2px rgba(0,0,0,0.15);
		-moz-box-shadow:inset -7px 12px -2px rgba(0,0,0,0.15);
		z-index:1;
		text-align:center;
		}*/

		section.bottomSection .imgbtnSection{
		position:absolute;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		top:50px;
		}

		/*
		section#bottomSection .catalogo > div{
			margin-top:50px;
			}

		section#bottomSection .catalogo >div span{
		font-weight:bold;
		}*/


@media(max-width:767px){

		/*section#bottomSection .catalogo > div{
			margin-bottom:10px;
			padding:21px 0;
			}*/
		section.bottomSection div.imgBottomSection{
			height:auto;
			}
		section.bottomSection div.contenidoBottomSection{
			height:auto;
			}

			section.bottomSection .imgbtnSection {
			position: relative;
			top:0px;
			margin:0 auto;
		}
		/*div.imgbtnConst .col-md-offset-7 {
			width:100%;
			top:20px;
			margin:0 auto;
		}*/
		}

	@media(max-width: 550px) {

	section.bottomSection div.imgBottomSection {
		width:100%;
		margin:0;
		padding:0;
	}
/*	section#bottomConst div.derechaVacio {
		display:none;
	}*/
	section.bottomSection .imgbtnSection {
		position: relative;

	}
	div.imgbtnSection .col-xs-offset-6 {
		width:100%;
		top:0px;
		margin:0 auto;
	}
	.textoMaq{
		width:100%;
		}

}


/*Slide Index*/
#slide{
	width:100%;
	height:auto;
	background-color:#C6F;
	}

#owl-slideTyT .item{
	margin: 30px;
}
#owl-slideTyT .item img{
  display: block;
  width: 100%;
  height:auto;
}

/*Slide Construccion_Index*/
#owl-slideTyT_Const .item{
  margin: 30px;

}
#owl-slideTyT_Const .item img{
  display: block;
  width: 100%;
  height:auto;
}

section#topMaq{
	height:550px;
	background-image:url(../images/img_maquinaria/bannerTopMaq.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}

/*Slide Inmobiliaria_Index*/
#owl-slideTyT_Inmb .item{
  margin: 30px;

}
#owl-slideTyT_Inmb .item img{
  display: block;
  width: 100%;
  height:auto;
}

section#topInmb{
	height:550px;
	background-image:url(../images/img_inmb/topInmb.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}

/*Slide Maquinaria_Index*/
#owl-slideTyT_Maq .item{
  margin: 30px;

}
#owl-slideTyT_Maq .item img{
  display: block;
  width: 100%;
  height:auto;
}


 .ulcatalogo{
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
 .ulcatalogo li {
          list-style:none;
          margin-bottom:25px;
      }
 .ulcatalogo li img {
          cursor: pointer;
      }

.modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;
    }
    .next {
        float:right;
        text-align:right;
    }

      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
              padding-top: 90px;
          }
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }

.footer{
	margin-top:30px;
	}

.iconoContacto i {
	font-size: 1.5em;
}

.txticonoContacto {
	font-size: 1.2em;
}

/** SOPORTE **/
#contacto{
	background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top, #0e0e0e 1%, #545454 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0e0e0e), color-stop(100%,#545454)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0e0e0e 1%,#545454 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0e0e0e 1%,#545454 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0e0e0e 1%,#545454 100%); /* IE10+ */
background: linear-gradient(to bottom, #0e0e0e 1%,#545454 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#545454',GradientType=0 ); /* IE6-9 */
	}


section#contacto h1 {
	color:#ffffff;
}

section#contacto p {
	font-size: 1.6em;
	color:white;
	margin-bottom: 20px;
}
section#contacto .campos {
	background-color: #666;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color:#ffffff;
}
section#contacto form {
	margin-top: 30px;
}
section#contacto input {
	min-height: 50px;
	margin-bottom: 20px;
}
section#contacto textarea {
	min-height: 200px;
}
section#contacto .btn.btn-default {
	background:white;
	border-radius: 14px;
	padding: 5px 43px;
	font-size: 1.4em;
	text-transform: uppercase;
}

div#correcto {
	display:none;
	background-color: white;
	padding: 20px;
	text-align: center;
	font-size: 1.6em;
	border-radius: 20px;
	border: 4px solid green;
}

.has-success .form-control-feedback {
	color:white;
	background-color: green;
	border-radius: 50%;
}
.has-error .form-control-feedback {
	color:white;
	background-color: red;
	border-radius: 50%;
}
.has-error .help-block {
	background: red;
	color: white;
	padding: 10px;
	border-radius: 5px;
}
.form-horizontal .has-feedback .form-control-feedback {
	right: 22px;
	font-size: 1.5em;
	top: 8px!important;
}

::-webkit-input-placeholder {
	color:#ffffff!important;
}

:moz-placeholder {
	color:#ffffff!important;
}
::moz-placeholder {
	color:#ffffff!important;
}

:-ms-input-placeholder {
	color:#ffffff!important;
}
