@charset "utf-8";
/* CSS Document */

	ul.ulcatalogo{
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul.ulcatalogo li {
          list-style:none;
          margin-bottom:25px;
      }
      ul.ulcatalogo li img {
          cursor: pointer;
      }
	  
	.containerCatalogo{background-color:#333;}
	  
	.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
	}
	
	.next {
    float:right;
    text-align:right;
	}
.iconoContacto{
	float:right;
	}
.iconoContacto i {
	font-size: 2em;
}