.nav-tree>li{
  background: url("../images/template/ramamenu.png") no-repeat;
  height: 60px;
}

.nav-tree li:first-child{
  background: none;
}

.nav>li>a {
  /*text-transform:uppercase;*/
  font-family:'Roboto Condensed', sans-serif;
  font-size:1.5em;
  text-shadow:1px 1px 1px black;
  -webkit-text-shadow:1px 1px 1px black;
  -moz-text-shadow:1px 1px 1px black;
  }

  #prueba{

  }
